body {
    background-color: #FFFFE0; /* LightYellow */
}

.info {
    color: #4B2414;          /* 咖啡色文字 */
    background-color: #D2B48C; 
    border: 2px solid #4B2414; 
    border-radius: 6px;     
}

.photo img {
    width: 400px;
    height: 300px;
    border: 3px solid green;  
    border-radius: 10px;     
    object-fit: cover; 
}
